## **1. 파이썬이란**
1990년 귀도 반 로섬이 개발한 인터프리터 언어 (한 줄 한 줄씩 개발) (!= 컴파일러)
코미디쇼에 나오는 제목에서 따왔다.(뱀 두마리...로고...)

사전적인 의미는 고대 신화에 나오는 동굴에 살던 큰 뱀. 아폴로 신이 파이썬을 퇴치했다는 이야기가 전해진다.

프로그래밍 교육을 위해서 많이 사용이 되며 동시에 기업의 실무에서도 많이 사용된다.(!= 베이직언어) 

구글의 소프트웨어의 50% 이상이 파이썬으로 작성되었다. 그 외에도 인스타그램, 드랍박스 등이 파이썬으로 작성.

파이썬은 공동작업과 유지보수가 매우 편하다. 이미 다른언어로 작성된 프로그램들이 파이썬으로 재구성되고 있다.

 **1. 파이썬의 특징**
  1. 파이썬은 인간다운 언어이다.
  2. 파이썬은 문법이 쉬워 빠르게 배울 수 있다.
  3. 파이썬은 무료이지만 강력하다.
  4. 파이썬은 간결하다. 
  5. 파이썬은 프로그래밍을 즐기게 해준다.
  6. 파이썬은 개발 속도가 빠르다.
    Life is too short you need python....

**2. 파이썬으로 할 수 있는 것들**
  1. 시스템 유틸리티
  2. GUI 프로그래밍 (pyqt)
  3. C, C++ 결합 (glue언어)
  4. 웹 프로그래밍 (flask, django) - 우리는 장고로 사용예정
  5. 수치연산 (Numpy)
  6. Database (Oracle, MySQL, MaridaDB)
  7. 데이터분석 (Pandas)
    - 시스템 밀접한 하드웨어, 모바일(안드로이드, 아이폰...) 잘 못함;;

## **2. 자료형**
  리스트, 튜플, 딕셔너리, 셋 등...
  
  어떤 프로그래밍 언어든 그 언어의 자료형을 알고 이해할 수 있다면 그 언어의 절반을 터득한 것이다.

프로그램의 기본이자 핵심단위이다.

자료형을 충분히 이해하지 않고 프로그래밍을 시작하는 것은 기초공사가 마무리 되지 않은 상태에서 건물을 세우는 것과 같다.

In [ ]:
# 숫자형 자료형 : 숫자 형태로 이루어진 자료형  1,2,3 == 정수 //  12.3 3.14 == 실수

# 정수형

a = 123
print(a)

b = 3.14
print(b)

123
3.14
Hi

In [ ]:
# 숫자형 연산
a = 3
b = 4
print(a+b)
print(a-b)
print(a/b)
print(a**b)

c = 7
d = 3
print(c%d)
print(c//d)

7
-1
0.75
81
1
2

In [ ]:
b % a  # 몫은 버리고 나머지만 취하는 연산자, 홀수 / 짝수 / 배수 찾을때 많이 사용

1

In [ ]:
a == b

False

In [ ]:
# 문자열 자료형 String

a = "Hello World"   # 파이썬에서는 문자열 작성 시 큰 따옴표, 작은따옴표 둘다 사용 가능하다.
b = 'Hello World'
c = "Python's"      
d = 'Python\'s'
e = 'He said "Python is easy."'

print(a)
print(b)
print(c)
print(d)
print(e)

Hello World
Hello World
Python's
Python's
He said "Python is easy."

In [ ]:
# 3중 작은 따옴표로 작성 시 줄바꿈 가능

a = '''
Hello 
World       
!!!
'''

print(a)

Hello
World
!!!

In [ ]:
# /n으로도 줄바꿈이 가능하다.

a = ' Hello \n World \n !!!'

print(a)

 Hello
 World
 !!!

In [ ]:
# 리스트 자료형
# 홀수들의 합을 계산 a =1, b=3. c = 5......
# 리스트는 불편함을 해소한다. 여러개의 자료를 하나로 묶어 관리

d = []
z = [1,3,5,7,9]
e = ['a','b','c']
g = [1,2,'a','b']

print(d)
print(z)
print(e)
print(g)

# 자료형에서 데이터를 꺼내 쓰는 방법
# > 인덱싱 - 한 개씩 꺼내기 - 인덱싱은 0부터 시작한다. 끝에서부터는 -1로 시작한다.

print(z[4])
print(z[-1])
print(z[0]+z[1])

# > 슬라이싱 - 여러개를 한 번에 꺼내기 - [시작 인덱스 : 종료 인덱스+1]로 넣어야 한다. 미만까지 !!
#                              - 시작점(0)부터 또는 마지막(-1)부터 시작하면 생략 가능하다. 
print(g[0:3])
print(g[:2])
print(g[1:])

# 문자열에서도 인덱싱 / 슬라이싱 둘 다 사용 가능하다.
q = '12345문자열'
print(q[2])
print(q[3:7])

[]
[1, 3, 5, 7, 9]
['a', 'b', 'c']
[1, 2, 'a', 'b']
9
9
4
[1, 2, 'a']
[1, 2]
[2, 'a', 'b']
3
45문자

In [ ]:
# 리스트 연산도 가능하다.

a = [1,2,3]
b = [4,5,6]
print(a+b)
print(a*3) # a 리스트를 3번 출력

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
# 리스트 내 요소 갯수 구하기

a = [1,2,3,23,8]
print(len(a))

5

In [ ]:
# 리스트에서는 수정과 삭제가 가능하다. mutable (튜플은 수정과 삭제가 불가능하다. immutable)

# 수정
a = [1,2,3]
a[2]=4
print(a)

# 삭제
del a[1]
print(a)

[1, 2, 4]
[1, 4]

In [ ]:
# 리스트 관련 함수 정리
# append : 리스트의 마지막에 요소를 추가 , 리스트 안에 리스트를 또 추가 할 수 있다.

a = [1,2,3]
a.append(4)
print(a)
a.append([5,6])
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4, [5, 6]]

In [ ]:
# sort - 리스트의 요소를 순서대로 정렬 (오름차순)

a = [1,7,3,8,2]
a.sort()
print(a)

b = ['c','d','e','h','a','b']
b.sort()
print(b)

# reverse - 리스트의 요소를 내림차순으로
a.sort()
a.reverse()
print(a)

[1, 2, 3, 7, 8]
['a', 'b', 'c', 'd', 'e', 'h']
[8, 7, 3, 2, 1]

In [ ]:
# index - 위치값을 반환

a = [1,3,6,5,8,2]
a.index(3)  # 요소 3의 위치값을 찾아냄

1

In [ ]:
# insert - 리스트의 특정 위치에 삽입
a = [1,2,3]
a.insert(0,4)  # 0번째에 요소4를 넣어라
print(a)

[4, 1, 2, 3]

In [ ]:
# remove - 리스트의 첫 번째로 나오는 값을 삭제

a= [1,3,4,2,5,1,2,4]
a.remove(4)  # 중복되어있는 요소 4를 삭제하는데 첫 번째 나오는 걸 삭제
print(a)

[1, 3, 2, 5, 1, 2, 4]

In [ ]:
# pop - 가장 마지막 요소 삭제

a = [1,2,3]
a.pop()
print(a)

[1, 2]

In [ ]:
# count - 리스트에서 특정원소가 몇 개 있는지 확인

a = [1,2,3,1]
a.count(1)  # 리스트의 1의 갯수를 찾는다

2

In [ ]:
# extend - 리스트에 리스트를 더한다. -> 하나의 리스트로 통합을 한다.

a = [1,2,3,4]
a.extend([4,5])
print(a)

[1, 2, 3, 4, 4, 5]

In [ ]:
# 튜플 immutable
# 튜플은 리스트와 거의 비슷하다. 차이점은
# 1. 리스트는 [] 대괄호 //  튜플은 () 소괄호
# 2. 리스트는 수정/삭제가 가능, 튜플은 수정/삭제 불가능

# 튜플은 프로그램 실행되는 동안 그 값이 항상 변하지 않기를 바란다거나 값이 바뀔까 걱정하고 싶지 않을 때 튜플을 사용한다.

In [ ]:
t1 = ()  #빈 튜플을 만들 수는 있으나 수정 불가능하여 딱히 사용하지는 않음...
t2 = (1,) # 튜플은 원소를 하나만 담을 떄는 쉽표를 붙인다. 튜플은 괄호 생략이 가능하다.
t3 = (1,2,3)
t4 = 1,2,3
t5 = ('a','b','c')

In [ ]:
t1 = (1,2,'a','b')
# del t1[0]    삭제불가 : TypeError: 'tuple' object doesn't support item deletion
#t1[0] = 'c'   수정불가 : TypeError: 'tuple' object does not support item assignment

In [ ]:
# 튜플에서의 인덱싱
t1 = (1,2,'a','b')
print(t1[0])

# 튜플에서의 슬라이싱
t2 = (1,2,'a','b')
print(t2[1:3])

1
(2, 'a')

In [ ]:
# 튜플 연선다
t1 = (1,2,'a','b')
t2 = (3,4)

print(t1+t2)
print(t2*3)

(1, 2, 'a', 'b', 3, 4)
(3, 4, 3, 4, 3, 4)

In [ ]:
# 튜플 길이구하기
t1 = (1,2,'a','b')
print(len(t1))

4

# **딕셔너리**
이름 = 홍길동, 나이 = 15, 성별 = 남자 >>> 대응관계를 나타낼 수 있는 자료형

다른언어에서는 map, hash라는 형태로 나타냄

키 값과 밸류 값으로 구성한다.

1. 딕셔너리는 인덱싱과 슬라이싱이 불가능하다. 순서가 없다.
2. 수정, 편집 가능하다.mutable
3. 중괄호 {} 를 이용하며 {kwy:value}로 구성된다. ( 리스트[] , 튜플() )

In [ ]:
dic = {'name' : 'pey' , 'phone' : '01011111111', 'birth' : '1212'}
print(dic)

{'name': 'pey', 'phone': '01011111111', 'birth': '1212'}

In [ ]:
# 밸류값에 리스트를 넣을 수 있다.
a = {'b' : [1,2,3]}
print(a)

{'b': [1, 2, 3]}

In [ ]:
# 딕셔너리는 수정이 가능하다.
a[3] = 'apple'  # 키값 3, 밸류값 apple를 추가한다.
print(a)

{'b': [1, 2, 3], 3: 'apple'}

In [ ]:
# 딕셔너리는 삭제가 가능하다.
del a[3] # 키값이 3인 키와 밸류를 삭제한다.
print(a)

{'b': [1, 2, 3]}

In [ ]:
# 딕셔너리로 key값을 이용해서 value값 가져오기
grade = {'pey':10,'julliet':9}
grade['pey'] # 키값 pey를 이용해서 밸류값을 가져온다.

10

In [ ]:
# 딕셔너리 사용 시 주의사항
# 1. key값이 고유한 값을 사용하기 때문에 중복되는 키값을 설정하면 하나를 제외한 나머지 모든 것들은 모두 무시된다.
a ={1:'a',1:'b'}
print(a)  # 키 값이 중복되면, 하나만 출력된다.

# 2. key 값에 리스트는 사용 할 수 없다. Tuple은 키 값으로 사용할 수 있다.
#    리스트는 그 값이 변할 수 있기 때문에 key로 쓸 수 없다.
#b = {[1.2] : 'hi'}
#print(b)  # TypeError: unhashable type: 'list'

c = {(1,2) : 'hi'}
print(c)

{1: 'b'}
{(1, 2): 'hi'}

In [ ]:
# 딕셔너리에서 많이 사용 되는 함수들
# keys : key값만 추출

a = {1:'a',2:'b',3:'c'}
a.keys()

dict_keys([1, 2, 3])

In [ ]:
# values : Values 값만 추출
a = {1:'a',2:'b',3:'c'}
a.values()

dict_values(['a', 'b', 'c'])

In [ ]:
# items : 모든 아이템을 추출
a = {1:'a',2:'b',3:'c'}
a.items()

dict_items([(1, 'a'), (2, 'b'), (3, 'c')])

In [ ]:
# clear : 전부 삭제
a = {1:'a',2:'b',3:'c'}
a.clear()
print(a)

{}

In [ ]:
# in  : key in value 키 캆에 맞는 밸류값이 있는지 true /faulse
a = {1:'a',2:'b',3:'c'}
print(1 in a)
print(4 in a)

True
False

In [ ]:
# set (집합) - 사용빈도가 많진 않다.
# 중복을 허용하지 않는다. 
# 순서가 없다. (인덱싱, 슬라이싱 불가능)
# 리스트나 튜플은 순서가 있기 때문에 ordered 인덱싱을 통해 값을 얻을 수 있다.
# set은 순서가 없기 때문에 인덱싱으로 값을 얻을 수 없다.
# 중복을 허용하지 않는 set의 특징으로 자료형의 중복을 제거하기 위한 필터 역할로 사용된다.

s1 = set([1,2,3])
print(s1)

{1, 2, 3}

In [ ]:
s2 = set("Hello")
print(s2)

{'H', 'l', 'o', 'e'}

In [ ]:
s1 = set([1,2,3])
print(s1)
type(s1)

{1, 2, 3}

set

In [ ]:
li = list(s1)
print(li)
type(li)

[1, 2, 3]

list

In [ ]:
# 교집합 합집합 차집합

s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

# 교집합
print(s1&s2)
s1.intersection(s2)

{4, 5, 6}

{4, 5, 6}

In [ ]:
# 합집합
print(s1|s2) 
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# 차집합
print(s1-s2)
print(s2-s1)

{1, 2, 3}
{8, 9, 7}

In [ ]:
# 집합관련 함수들

# add : 한 개 추가
s1 = set([1,2,3])
s1.add(4)
print(s1)

{1, 2, 3, 4}

In [ ]:
# update : 여러개 추가
s1 = set([1,2,3])
s1.update([4,5,6])
print(s1)

{1, 2, 3, 4, 5, 6}

In [ ]:
# remove : 특정 값 제거
s1 = set([1,2,3])
s1.remove(2)
print(s1)

{1, 3}

In [ ]:
# bool 자료형 boolean - 참 True 거짓 False ( 첫 문자는 반드시 대문자)

a = True
b = False

print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [ ]:
print(a == b)
print(a != b)

False
True

In [ ]:
2>1

True

In [ ]:
# "" , [] , {} , () , None, 0 -> 비어있는 건 항상 거짓

In [ ]:
a = [1,2,3,4]
while a:
  print(a.pop())

4
3
2
1

In [ ]:
if [] :
  print("참")
else :
  print("거짓")

거짓

In [ ]:
# 자료형 총정리
# 가장 기본이 되는 자료형 숫자, 문자열, 리스트, 튜플, 딕셔너리, 집합, 불룬

In [ ]:
# 변수 : 어떤 값이 들어가 있는 메모리의 위치를 가리킨다.
#       다른 언어에서는 자료형을 직접 지정해줘야 하지만 파이썬은 스스로 판단해서 저장한다.
#       id() : 변수가 가리키는 주소값을 반환한다.

a = 1 
b = 'python'

print(id(a))  # id 주소값으로 보면 된다.
print(id(b))

94869853395456
139934845323312

In [ ]:
a = [1,2,3]
b = a

In [ ]:
print(a)

[1, 2, 3]

In [ ]:
print(b)

[1, 2, 3]

In [ ]:
id(a)

140522359214880

In [ ]:
id(b)

140522359214880

In [ ]:
print(a is b)      # a와 b가 가리키는 객체가 같은 거니?

True

In [ ]:
a[1] = 4
print(a)

[1, 4, 3]

In [ ]:
print(b)

[1, 4, 3]

In [ ]:
a = [1,2,3]
b = a[:] 
a[1] = 4
print(a)

[1, 4, 3]

In [ ]:
print(b)

[1, 2, 3]

In [ ]:
id(a)

140522360077440

In [ ]:
id(b)

140522358762704

In [ ]:
from copy import copy
a = [1,2,3]
b = copy(a)
b is a

False

In [ ]:
id(a)

140522359084448

In [ ]:
id(b)

140522359435904

In [ ]:
a,b = ('python','great')

In [ ]:
(a,b) = 'python','great'

In [ ]:
a = b = 'python'

In [ ]:
a = 5
b = 10

# 자바 / C 스타일
t = a
a = b
b = t

print(a)

10

In [ ]:
print(b)

5

In [ ]:
a,b = b,a

In [ ]:
# 문제풀기

1. 정수 13이 홀수 인지 짝수인지 어떻게 판별 할 수 있을까

In [ ]:
a = 13
if(a%2 == 0) :
  print('짝수')
else:
  print('홀수')

홀수

In [ ]:
# 어떤수가 어떤수의 배수인지 어떻게 판별할 수 있을까

# 어떤수가 9 라면...  나머지가 0 인값을 찾아랏

In [ ]:
#홍길동 학생의 주민번호가 881120-1073834이다. 생년월일 / 뒷자리 7개만 추출해보자

In [ ]:
num='881120-1073834'
birth = num[0:6]
last = num[-7:]

print(birth)
print(last)

881120
1073834

In [ ]:
a = ['Life','is','too','short'] # 한 문장으로 만들어 보자
result = " ".join(a)
print(result)

Life is too short

In [ ]:
a = (1,2,3)
print(id(a))

a=a+(4,) # 튜플 자료형에 1개의 원소만 나타낼 때는 쉼표를 괜히 붙인다.
print(id(a))

140522359086288
140522358798288

In [ ]:
# if 
# 자료형은 나무 돌 시멘트 같은 재료였다면
# 제어문은 건물의 뼈대

# 참과 거짓을 판단한다.

money = False
if money:
  print("택시를 타자")
else :
  print("걸어가자")

걸어가자

In [ ]:
# 비교 연산자
'''
x < y   미만
x > y   초과
x == y  같다
x != y  다르다
x >= y  이상
x <= y  이하

x or y     둘 중 하나만 참이어도 참
x and y    둘 다 모두 참이어야만 참
'''

In [ ]:
money = 2000
card = False

if money >= 3000 or card:
  print("택시")
else :
  print("걷기")

걷기

In [ ]:
pocket = ['paper','cellphone','money']
if 'money' not in pocket:
  print('택시')
else :
  print("걷기")

걷기

In [ ]:
pocket = ['paper','cellphone']
card = False

if 'money' in pocket : 
  print("택시")
elif card:
  print("택시")
else :
  print('걷기')

# 즉, elif는 이전 조건문이 거짓일 때 수행된다.

걷기

In [ ]:
# 문제
'''
점수가 90점 이상이면 A, 80점 이상이면 B,  70점 이상이면 C, 60점 이상이면 D,  나머지는 전부  F
score = 75
'''

In [ ]:
score = 75

if score>=90:
  print("A")
elif score >=80:
  print("B")
elif score >=70:
  print("c")
elif score >=60:
  print("D")
else :
  print("F")

c

In [ ]:
# 반복문 while / for
# 1. while 반복횟수가 명확하지 않을 경우 주로 사용 ex. 10시까지 운동장 돌아라
# 2. for   반복횟수가 명확할 경우 사용      ex. 운동장을 20바퀴 돌아라  -> 더 많이 사용


# while
n = 1
while n < 10 :
  print(n ,end='')
  n = n + 1

123456789

In [ ]:
n = 0
while n < 10:
  n += 1                          # n = n + 1 와 같은 의미
  print("나무를 %d번 찍었습니다."%n)   # print("나무를", n ,"번 찍었습니다.") 와 같은 의미
  if n == 10:
    print("나무 넘어갑니다...")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다...

In [ ]:
p = '''
1. Add
2. Del
3. List
4. Quit

Enter number : '''

n = 0
while n != 4 :
  print(p)
  n = int(input())      # input으로 입력받은 값은 기본적으로 문자다.

1. Add
2. Del
3. List
4. Quit

Enter number :
3

1. Add
2. Del
3. List
4. Quit

Enter number :
2

1. Add
2. Del
3. List
4. Quit

Enter number :
1

1. Add
2. Del
3. List
4. Quit

Enter number :
4

In [ ]:
#  while문을 사용하여 1부터 1000까지의 수 중 3의 배수의 합을 구해보자

n = 0
sum = 0
while(n<=1000):
  n += 1
  if(n%3==0):
    sum += n
print(sum)

166833