In [2]:
# 커피 자판기 
# 남은 커피가 있으면 판매 -> 판매 -> 더 이상 커피가 없으면 판매 중지

coffee = 10
money = 300

while money:
  print("커피를 판매합니다.")
  coffee -= 1  # coffee = coffee - 1
  print("남은 커피의 양은 %d개 입니다." %coffee)
  if coffee == 0:
    print ("커피가 다 떨어졌습니다. 판매를 중지합니다.")
    break

커피를 판매합니다.
남은 커피의 양은 9개 입니다.
커피를 판매합니다.
남은 커피의 양은 8개 입니다.
커피를 판매합니다.
남은 커피의 양은 7개 입니다.
커피를 판매합니다.
남은 커피의 양은 6개 입니다.
커피를 판매합니다.
남은 커피의 양은 5개 입니다.
커피를 판매합니다.
남은 커피의 양은 4개 입니다.
커피를 판매합니다.
남은 커피의 양은 3개 입니다.
커피를 판매합니다.
남은 커피의 양은 2개 입니다.
커피를 판매합니다.
남은 커피의 양은 1개 입니다.
커피를 판매합니다.
남은 커피의 양은 0개 입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [3]:
coffee = 10  # 커피 1잔에 300원 일 때
while True :
  money = int(input("돈을 넣어 주세요"))
  if money == 300:
    print("커피를 드립니다.")
    coffee -= 1
  elif money > 300:
    print("거스름돈 %d를 주고 커피를 드립니다."%(money-300))
    coffee -= 1
  else :
    print("돈을 다시 돌려 드리고, 커피는 드리지 않습니다.")
    print("남은 커피의 양은 %d개 입니다."%coffee)
  if coffee == 0 :
    print("커피가 다 떨어졌습니다.판매 중지 합니다.")
    break   # break문을 만나면 if문 종료

돈을 넣어 주세요500
거스름돈 200를 주고 커피를 드립니다.
돈을 넣어 주세요600
거스름돈 300를 주고 커피를 드립니다.
돈을 넣어 주세요300
커피를 드립니다.
돈을 넣어 주세요700
거스름돈 400를 주고 커피를 드립니다.
돈을 넣어 주세요800
거스름돈 500를 주고 커피를 드립니다.
돈을 넣어 주세요600
거스름돈 300를 주고 커피를 드립니다.
돈을 넣어 주세요1000
거스름돈 700를 주고 커피를 드립니다.
돈을 넣어 주세요800
거스름돈 500를 주고 커피를 드립니다.
돈을 넣어 주세요900
거스름돈 600를 주고 커피를 드립니다.
돈을 넣어 주세요1000
거스름돈 700를 주고 커피를 드립니다.
커피가 다 떨어졌습니다.판매 중지 합니다.

In [9]:
a = 0
while a < 10:
  a+=1
  if a % 2 == 0: 
    continue   # continue를 만나는 순간 밑으로 빠지지 않고 다시 반복문 수행
  print(a)

1
3
5
7
9

In [10]:
# For 반복문
# 파이썬의 직관적인 특징을 잘 보여주는 것이 For문이다.
# while문과 비슷하지만 for문은 매우 많이 싸용되고 문장 구조가 한눈에 파악하기 쉽다.

list = [1,2,3,4,5]
for i in list:
  print(i)

1
2
3
4
5

In [12]:
# 리스트 안에 있는 튜플
a = [(1,2),(3,4),(5,6)]

for x,y in a :
  print(x+y)

3
7
11

In [27]:
# Quiz 5명의 학생 점수에서 60점이 넘으면 합격 아니면 불합격을 출력하세요
score = [90,70,60,50,40,80]
n = 0 

for i in score:
  n +=1
  if i >= 60 :
    print("%d번 학생은 합격입니다."%n)
  else :
    print("%d번 학생은 불합격입니다."%n)

1번 학생은 합격입니다.
2번 학생은 합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 불합격입니다.
6번 학생은 합격입니다.

In [29]:
score = [90,70,60,50,40,80]
n = 0 

for i in score:
  n +=1
  if i < 60 : continue
  print("%d번 학생은 합격입니다."%n)

1번 학생은 합격입니다.
2번 학생은 합격입니다.
3번 학생은 합격입니다.
6번 학생은 합격입니다.

In [35]:
# range 함수와 for문
# range(start. stop, step)  # start를 생략하면 0부터, step이 1일경우 생략가능, 그 외에 적으면 step만큼 증가

for i in range(11):     # 1부터 11전까지 
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [49]:
#Quiz  for문과 range를 이용해서 구구단을 표시하세요

for i in range(2,10):
  for j in range (1,10) :
    print(i*j,end= " ")
  print("")

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [50]:
# List comprehension (리스트 내포)

# without
a = [1,2,3,4]
result = []

for n in a :
  result.append(n*3)

print(result)

[3, 6, 9, 12]

In [51]:
# with
a = [1,2,3,4]
result = [n * 3 for n in a]
print(result)

[3, 6, 9, 12]

In [52]:
a = [1,2,3,4]
result = [n * 3 for n in a if n % 2 == 0]
print(result)

[6, 12]

In [60]:
#Quia for문을 사용해서 1부터 100까지의 자연수 중 짝수의 합
n = 1
sum = 0

for n in range(1,101):
  if n%2 ==0:
    sum +=n

print(sum)

2550

In [72]:
# while을 이용해서 아래 그림을 표사하세요
'''
*
**
***
****
*****
'''

while i <= 5:
  print('*'*i)
  i+=1

*
**
***
****
*****

In [86]:
#for 문을 사용하여 총 10명의 학생들의 중간고사 평균점수를 구하세요

score=[70,60,55,75,95,90,80,80,85,100]
total = 0

for i in score:
  total += i
  
print((total)/len(score))

79.0

In [91]:
#리스트에서 홀수만 2을 곱하여 result 리스트로 저장

n = [1,2,3,4,5]
result = [i*2 for i in n if i%2!=0]
print(result)

[2, 6, 10]

함수란!!

과일 -> 믹서기 -> 과일주스

바나나 -> 믹서기 -> 바나나주스 

사과 -> 믹서기 -> 사과주스

왜 사용하는가 !!

항상 반복되는 코드를 매번 작성하는 것보다 그것들을 묶어서 함수로 만들면 쉽고 편하게 재활용 사용할 수 있다.

기본형

- def 함수명(변수) :
    수행
    수행
    수행
    return 값


def add(a,b):

  return a+b

이 함수의 이름은 add이고 입력으로 2개의 값을 받아서 그 두개를 더한 값을 돌려준다.

In [94]:
#1. 입력값도 있고 출력값도 있는 함수  

def add(a,b):     # a,b는 매개변수 (진짜 값을 받는 변수)
  return a+b

c = add(3,4)      # 3,4는 인수 (진짜 들어가는 값)
print(c)

7

In [ ]:
'''
4가지 함수의 형태

1. 입력값도 있고 출력값도 있는 함수   ** 가장 보통으 함수
2. 입력값은 있고 출력값은 없는 함수
3. 입력값은 없고 출력값은 있는 함수
4. 입력값도 없고 출력값도 없는 함수

결과값은 오직 return으로만 돌려받는다.
'''

In [98]:
# 2. 입력값은 있고 출력값은 없는 함수
def say(a):
  print(a)


print(say("Hi"))  # retrun값이 었어서 None

Hi
None

In [109]:
def add(a,b):
  print("%d,%d의 합은 %d입니다."%(a,b,a+b))

add(3,4)

#결과값은 오직 return 으로만 돌려받는다.

3,4의 합은 7입니다.

In [99]:
# 3. 입력값은 없고 출력값은 있는 함수
def say():
  return 'Hi'

say()

'Hi'

In [100]:
# 4. 입력값도 없고 출력값도 없는 함수
def say():
  print("Hi")

say()

Hi

In [103]:
def add(a,b):
  return a+b

r = add(b=5, a=3)
print(r)

8

In [107]:
# 입력이 몇개가 될 지 모를때

def add_many(*args):
  result = 0
  for i in args:
    result = result + i
  return result

add_many(1,2,3,4,5)

15

In [116]:
# 함수의 결과값은 언제나 하나이다. 
def add_mul(a,b):
  return a+b, a*b

result = add_mul(3,4)
print(result,type(result))

# 튜플값 하나로 반환된다.

(7, 12) <class 'tuple'>

In [117]:
result1, result2 = add_mul(3,4)
print(result1,type(result1))
print(result2)

7 <class 'int'>
12

In [118]:
def add_mul(a,b):
  return a+b
  return a*b    # 실행 조차 안한다..

result = add_mul(3,4)
print(result)

7

In [122]:
def say(name, old, man=True):
  print("나의 이름은 %s 입니다." %name)
  print("나의 나이는 %d살 입니다." %old)
  if man:
    print("남자입니다.")
  else :
    print("여자입니다.")

print(say("홍길동",20))
print(say("성춘향",18,False))

나의 이름은 홍길동 입니다.
나의 나이는 20살 입니다.
남자입니다.
None
나의 이름은 성춘향 입니다.
나의 나이는 18살 입니다.
여자입니다.
None

In [123]:
def say(name, man=True, old):
  print("나의 이름은 %s 입니다." %name)
  
  if man:
    print("남자입니다.")
  else :
    print("여자입니다.")

  print("나의 나이는 %d살 입니다." %old)

print(say("홍길동",20))

# 초기값 설정은 항상 끝에 해야한다.

SyntaxError: ignored

In [125]:
# 함수에서 선언한 변수의 효력 범위

a = 1
def vartest(a):
  a = a+1   # 2
  print(a)  # 2

vartest(a)
print(a)  # 1...? 당연히 변수 값에 1을 더했으니 2가 출력될 것으로 보였지만 결과는 1이 나온다...
          # 그 이유는 함수 안에서 새로 만든 매개변수는 함수 안에서만 사용하는 함수만의 변수이다. -> 지역변수 local !=  전역변수 global

2
1

In [128]:
def vartest(z):
  z = z + 1

vartest(3)
print(z)   # NameError: name 'z' is not defined  z는 아예 정의조차 안되있다 !!

# 함수 안에서 선언한 매개변수는 함수 안에서만 사용된다.  아주 중요 !!!!!

NameError: ignored

In [129]:
a = 1
def vartest(a):
  a = a + 1
  return a     # return값이 있어야 밖으로 나갈 수 있다...

a = vartest(a)
print(a)

2

In [130]:
a = 1
def vartest():
  global a
  a = a + 1

vartest()
print(2)

# 전역변수 선언은 함수 밖에서도 직접 사용하겠다는 의미이다.
# 전역 변수는 사용하지 않는 것이 좋다.

2

In [131]:
# 람다함수 lambda
# def와 동일한 역할을 한다. 보통 함수를 한줄로 간단하게 만들 때 사용한다.

def add(a,b):
  return a+b

r = add(3,4)
print(r)       # 보통 함수 사용

7

In [132]:
# 람다 사용                lambda 변수1, 변수2, 변수3 ... : 변수를 이용한 식

add = lambda a,b : a+b
r=add(3,4)
print(r)

7

In [134]:
# 사용자 입출력(input)


a = input()

type(a)

# input으로 입력 받는 모든 값은 일단 str !!!!!!

123

str

In [135]:
a = int(input())

type(a)

123

int

In [150]:
# 숫자를 입력받아서 그 숫자가 홀수 인지 짝수 인지 판별해 주는 함수를 만들어 보자.


def number(a):
   if (a % 2 == 0) :
    print("짝수")
   else :
    print("홀수")

number(int(input()))

5
홀수

In [183]:
# 입력으로 들어오는 모든 수의 평균을 계산하는 함수(입력개수는 미지정)

# avg(1,2,3)
# avg(1,2,3,4,5,6)

def avg(*args) :
  result = 0
  for i in args:
    result += i
  return result /len(args)

print(avg(1,2,3))
print(avg(1,2,3,4,5,6))

2.0
3.5

In [188]:
def add_mul(choice,*args) :
  if choice == "add" :
    result = 0
    for i in args:
      result += i
  elif choice == "mul" :
    result = 1
    for i in args :
      result *= i
  return result

print(add_mul('add',1,2,3,4,5))
print(add_mul('mul',2,5))

15
10

In [191]:
# 파일 읽고 쓰기

# 파일 생성

f = open("파일이름.txt",'w')
f.close()

# w 쓰기  r 읽기   a 추가

In [195]:
f = open("새파일.txt",'w')
for i in range(1,11):
  data = "%d번째 줄입니다.\n" %i
  f.write(data)
f.close()

In [196]:
f = open("새파일.txt",'r')
line = f.readline()
print(line)
f.close()

1번째 줄입니다.

In [197]:
# readline() 한줄한줄 읽어오기
f = open("새파일.txt",'r')

while True:
  line = f.readline()
  if not line : break
  print(line)

f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [199]:
#readlines() : 파일의 모든 줄을 다 읽어서 각각의 줄의 요소로하는 리스트로 돌려준다.

f = open("새파일.txt",'r')
lines = f.readlines()
for line in lines:
  print(line)

f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [200]:
f = open("새파일.txt",'r')
lines = f.readlines()
for line in lines:
  line = line.strip()        # 여백을 다 자르는 함수
  print(line)

f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [201]:
# read() : 파일 내용 전체를 문자열로 돌려준다

f = open("새파일.txt",'r')
lines = f.read()
print(lines)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [202]:
#수정
f=open("새파일.txt",'a')
for i in range (11,20):
  data = "%d번째 줄입니다.\n" %i
  f.write(data)

f.close()

In [207]:
# with
# 파일을 사용 후에는 항상 닫아줘야 한다. 
# 자동으로 닫으면 편하다. 

with open("새파일.txt",'w') as f :
    f.write("No pain No gain")

In [211]:
# 두 수를 입력받아 합계를 계산

input1 = int(input())
input2 = int(input())

print("첫번째 숫자 : %d" %input1)
print("두번째 숫자 : %d" %input2)
print("두 수의 합은 %d 입니다." %(input1+input2))

3
5
첫번째 숫자 : 3
두번째 숫자 : 5
두 수의 합은 8 입니다.

In [ ]:
# 클래스
# C언어에는 클래스가 없다. 객체지향이 없다.
# 클래스는 반드시 필요한 것은 아니지만 사용한다면 얻을 수 있는 이익이 상당하다.

In [214]:
# 계산기

result1 = 0
result2 = 0

def add1(num):
  global result    # 이전에 계산값을 유지하기 위해 전역변수 사용
  result += num
  return result

def add2(num) :
  global result2
  result2 += num
  return result2

print(add1(3))
print(add1(4))
print(add1(5))
print()
print(add2(3))
print(add2(4))
print(add2(5))

27
31
36

3
7
12

In [219]:
class Calculator :
  def __init__(self):     # 생성자
    self.result = 0

  def add(self,num):
    self.result += num
    return self.result

cal1 = Calculator()
cal2 = Calculator()

print(cal1.add(3))
print(cal1.add(4))
print(cal1.add(5))
print()
print(cal2.add(3))
print(cal2.add(4))
print(cal2.add(5))

3
7
12

3
7
12